.header {
  position: relative;
  background: url('../../assets/images/cheesecake-new-york_2.png') center center/cover no-repeat;
  height: 300px;
  color: purple;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

.quit {
  position: absolute;
  top: 5px;
  right: 20px;
  display: flex;
  align-items: center;
  gap: 10px;
  z-index: 10;
}

/* Общие стили для элементов в header */
.header-link,
.header-btn,
.header-text {
    font-size: 16px;
    color: #8918a1;
    font-family: Papyrus, sans-serif;
    font-weight: bold;
    text-decoration: none;
    margin: 0 5px;
    cursor: default;
    transition: transform 0.2s ease, background-color 0.3s ease;
}

.header-link:hover,
.header-btn:hover,
.header-text:hover {
    background-color: #e055a5;
    transform: scale(1.05);
    border-radius: 4px;

}
.header-btn {
  background: none;
  border: none;
  padding: 3px 5px;
}
/* Дополнительные стили для кнопок, если требуется */
.header-btn {
  background: none;  /* не нужно, если хотите просто выглядеть как ссылка */
  border: none;
  padding: 3px 8px;
}

nav ul {
  list-style-type: none;
  padding-top: 150px;  /* Или меньше, например, 100px */
  margin: 0;
  text-align: center;
}

nav ul li {
    display: inline;
    margin: 0 25px;
}

nav ul li a {
    font-size: 18px;
    color: deeppink;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
    display: inline-block;
}

nav ul li a:hover {
    color: #8918a1; /* Цвет текста при наведении */
    transform: scale(1.2); /* Увеличение продукта при наведении */
}

main {
    padding: 20px;
    text-align: center;
}

.products-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.product {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    background-color: #fff;
    width: 200px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.5s; /* Плавный переход при наведении */
}

.product:hover {
    transform: scale(1.1); /* Увеличение продукта при наведении */
    transition: transform 0.2s ease;
}

.product img {
    max-width: 100%;
    height: auto;
    transition: transform 0.3s;
    transform: scale(1.1);
}


footer {
    background-color: #e584fa;
    height: 50px;
    color: white;
    text-align: center;
    padding: 1px 0;
    position: fixed;
    bottom: 0;
    width: 98%;
}

.home-container {
    max-width: 1650px; /* Установите желаемую максимальную ширину */
    margin: 0 auto; /* Центрирует контейнер */
    padding: 20px; /* Добавьте отступы, если нужно */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Добавляет тень для эффекта */
}

/*.quit {*/
/*    position: absolute;*/
/*    top: 5px;*/
/*    right: 20px; !* чуть левее корзины *!*/
/*    display: flex;*/
/*    gap: 10px; !* расстояние между кнопками *!*/
/*    z-index: 10; !* поверх других элементов *!*/
/*}*/

/*.quit a {*/
/*    text-decoration: none;*/
/*    color: #8918a1;*/
/*    !*background-color: #ff69b4;*!*/
/*    padding: 3px 5px;*/
/*    border-radius: 6px;*/
/*    font-weight: bold;*/
/*    transition: background-color 0.3s, transform 0.2s;*/
/*}*/

/*.quit a:hover {*/
/*    background-color: #e055a5;*/
/*    transform: scale(1.1);*/
/*}*/

/*.quit button {*/
/*    background: none;*/
/*    border: none;*/
/*    color: #8918a1;*/
/*    cursor: pointer;*/
/*    padding: 3px 5px;*/
/*    border-radius: 6px;*/
/*    font-weight: bold;*/
/*    font-family: Papyrus, sans-serif;*/
/*    transition: background-color 0.3s, transform 0.2s;*/
/*}*/

/*.quit button:hover {*/
/*    background-color: #e055a5;*/
/*    transform: scale(1.1);*/
/*}*/
